.settings-item.settings-toggle {
  width: 100%;
  padding: 16px;
  font-size: 18px;
  
  
  color: var(--color-text);
  border: none;
  cursor: pointer;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#view-list-settings .settings-item.settings-toggle {
  background-color: var(--color-bg);
}

.settings-switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
  transition: 0.2s;
}

/* Hide default HTML checkbox */
.settings-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.settings-switch .slider {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-danger);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  -webkit-transition: .4s;
  transition: all 0.4s;
}

.settings-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.settings-switch input:checked + .slider {
  background: var(--color-success);
}

.settings-switch input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white;
}

/* Rounded sliders */
.settings-switch .slider.round {
  border-radius: 34px;
}

.settings-switch .slider.round:before {
  border-radius: 50%;
}