.avatar {

  width:44px;
  height:44px;


  display:flex;

  align-items:center;
  justify-content:center;


  border-radius:
  var(--radius-pill);


  background:
  var(--primary-200);


  font-weight:700;

}